// config
$contentW : 980px;
$white    : #fff;
$gray     : #666;
$red      : #f00;

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: absolute;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

@mixin transition($param){
	-webkit-transition: $param;
	-moz-transition: $param;
	-o-transition: $param;
	transition: $param;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  } 
  @keyframes $animation-name {
    @content;
  }
}
