@charset "utf-8";
@import "set";
@import "reset";
html {
}
body {
  width: 100%;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  position: relative;
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 480px) {
}

